{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style="background-color: rgba(0,0,0,.45); width: 130px; height: 100%; transition: all 0.2s ease-in-out; position: relative; float: left; text-align: center; overflow-y: auto;">
    <div href="#" class="category" style="margin-top: 10px; height: 50px;">
        <span class="categorytext" style="bottom: 15px;">Select Prodcut</span>
    </div>
    
    <div href="#" class="category" style="margin-top: 10px;">
        <img class="categoryimg" src="{% static 'index/svg/products.svg' %}" alt="">
        <span class="categorytext">Prodcuts</span>
    </div>

    <div href="#" class="category" style="margin-top: 10px;">
        <img class="categoryimg" src="{% static 'index/svg/products.svg' %}" alt="">
        <span class="categorytext">Prodcuts</span>
    </div>

    <div href="#" class="category" style="margin-top: 10px;">
        <img class="categoryimg" src="{% static 'index/svg/products.svg' %}" alt="">
        <span class="categorytext">Prodcuts</span>
    </div>

    <div href="#" class="category" style="margin-top: 10px;">
        <img class="categoryimg" src="{% static 'index/svg/products.svg' %}" alt="">
        <span class="categorytext">Prodcuts</span>
    </div>

    <div href="#" class="category" style="margin-top: 10px;">
        <img class="categoryimg" src="{% static 'index/svg/products.svg' %}" alt="">
        <span class="categorytext">Prodcuts</span>
    </div>

    <div href="#" class="category" style="margin-top: 10px;">
        <img class="categoryimg" src="{% static 'index/svg/products.svg' %}" alt="">
        <span class="categorytext">Prodcuts</span>
    </div>

    <div href="#" class="category" style="margin-top: 10px;">
        <img class="categoryimg" src="{% static 'index/svg/products.svg' %}" alt="">
        <span class="categorytext">Prodcuts</span>
    </div>

    <div href="#" class="category" style="margin-top: 10px;">
        <img class="categoryimg" src="{% static 'index/svg/products.svg' %}" alt="">
        <span class="categorytext">Prodcuts</span>
    </div>

    <div href="#" class="category" style="margin-top: 10px;">
        <img class="categoryimg" src="{% static 'index/svg/products.svg' %}" alt="">
        <span class="categorytext">Prodcuts</span>
    </div>

    <div href="#" class="category" style="margin-top: 10px;">
        <img class="categoryimg" src="{% static 'index/svg/products.svg' %}" alt="">
        <span class="categorytext">Prodcuts</span>
    </div>
</div>{% endblock content %}