{% extends 'base.html' %}
{% load index %}
{% load static %}

{% block content %}
<div class="dress-showcase">
    <div class="dress-showcase-sidebar">
        <ul class="dress-showcase-sidebar__ul">
            <div id="menu">
                <!-- <li class="active">
                    <a href="#suit-{{ two_piece_suit_sidebar_first_ele.title }}" class="btn btn-big">
                        <div class="dress-showcase-sidebar__ul--img-section">
                            <img class="dress-showcase-sidebar__ul--img-section--img"
                                src="{{ two_piece_suit_sidebar_first_ele.img.url }}" />
                            <span class="dress-showcase-sidebar__ul--img-section--title" style="font-size: 1.2rem;">
                                {{ two_piece_suit_sidebar_first_ele.title }}</span>
                            <span class="dress-showcase-sidebar__ul--img-section-active-icon"></span>
                        </div>
                    </a>
                </li> -->

                {% for element in combines_ele_names %}
                <li class="">
                    <a href="#two-piece-suit-{{ element|index:2 }}" class="btn btn-big">
                        <div class="dress-showcase-sidebar__ul--img-section">
                            <img class="dress-showcase-sidebar__ul--img-section--img" src="{{ element|index:1 }}" />
                            <span class="dress-showcase-sidebar__ul--img-section--title">{{ element|index:0 }}</span>
                            <span class="dress-showcase-sidebar__ul--img-section-active-icon"></span>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </div>
        </ul>
    </div>

    <div class="dress-showcase-preview-dress"
        style="background-image: url(https://rnd.tailorstore.com/as1/fHw5MHwjRkZGRkZGfHdlYnA,/eNqd0lkOgyAQBuC79LkpSlvTu5SGjDgqLYthuX9p1ZjYJcHwBBk-_gxz3Tk0DTpGfJSBkQ60BkbaqBQXoHnBSJm2UDspGLmDeGCq/ojwdHqsLPQym2-1XhrFOg_pAlDTSdAtSTs7pTKscZw6jYED1NtKi-Xlmx8sG-WCnUMkqtluiRx8WbEOToEaVc6GOIVjDe6vwFcMH/HLucGtLmPj5aa4bSYkOg0DuE5ouVKn6J_4cvOBs9Oj-Nzfqnbk_jG_Zz.webp)">
        <div class="dress-showcase-preview-dress-navbar">
            <img src="{% static 'images/iffi.jpeg' %}" />
            <div class="dress-showcase-preview-dress-price"><span>Rs.13,430</span></div>
        </div>
        <div class="dress-showcase-preview-dress-button-section">
            <a href="{% url 'body-measurements' %}">
                <button class="dress-showcase-preview-dress-button-section__btn-continue">Continue <i
                        class="fas fa-arrow-right"></i></button>
            </a>
            <button class="dress-showcase-preview-dress-button-section__btn-reset"> <i class="fas fa-undo"></i>
                Reset</button>
        </div>
        <button class="dress-showcase-preview-dress-btn-zoom">
            <i class="fas fa-search-plus"></i>
            <!-- <i class="fas fa-search-minus"></i> -->
        </button>
    </div>
</div>
<div>
    <!-- <a href="#modal-one" class="btn btn-big">Modal!</a> -->

    <!-- Suit Prodcuts -->
    <div class="modal" id="two-piece-suit-Products" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <span class="modal-header--title">Products</span>
                <span class="modal-header--extra-text">SET TO DEFAULT</span>
                <a href="#" class="btn-close" aria-hidden="true">×</a>
            </div>
            <div class="modal-body">
                <div class="modal-body-item-list" id="suit-product-menu">
                    {% for suit_product in suit_products %}
                    {% if suit_product == suit_products|index:0 %}
                    <a href="#" style="text-decoration: none;">
                        <div class="modal-body-item-list__card modal-body-item-list__card-active">
                            <div class="modal-body-item-list__card--symbol"></div>
                            <img class="modal-body-item-list__card--thumb" src="{{ suit_product.img.url }}" />
                            <div class="modal-body-item-list__card--mid">{{ suit_product.title }}</div>
                            <div class="modal-body-item-list__card--price"></div>
                        </div>
                    </a>
                    {% else %}
                    <div class="modal-body-item-list__card">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb" src="{{ suit_product.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ suit_product.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- <div class=" modal-footer"> -->
            <!-- <a href="#" class="btn">Nice!</a> -->
            <!-- </div> -->
        </div>
    </div>
    <!-- /Suit Prodcuts -->

    <!-- Two Piece Suit Fabric -->
    <div class="modal" id="two-piece-suit-Fabric" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <span class="modal-header--title">Fabric</span>
                <span class="modal-header--extra-text"></span>
                <a href="#" class="btn-close" aria-hidden="true">×</a>
            </div>
            <div class="modal-body">
                <div class="modal-body-item-list" id="two-piece-suit-fabric-menu">
                    {% for fabric in fabrics %}
                    {% if fabric == fabrics|index:0 %}
                    <div class="modal-body-item-list__card modal-body-item-list__card-active">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb" src="{{ fabric.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ fabric.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% else %}
                    <div class="modal-body-item-list__card">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb" src="{{ fabric.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ fabric.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- <div class=" modal-footer"> -->
            <!-- <a href="#" class="btn">Nice!</a> -->
            <!-- </div> -->
        </div>
    </div>
    <!-- /Two Piece Suit Fabric -->

    <!-- Two Piece Suit Lining -->
    <div class="modal" id="two-piece-suit-Lining" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <span class="modal-header--title">Lining</span>
                <span class="modal-header--extra-text"></span>
                <a href="#" class="btn-close" aria-hidden="true">×</a>
            </div>
            <div class="modal-body">
                <div class="modal-body-item-list" id="two-piece-suit-lining-menu">
                    {% for lining in linings %}
                    {% if lining == linings|index:0 %}
                    <div class="modal-body-item-list__card modal-body-item-list__card-active">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb" src="{{ lining.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ lining.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% else %}
                    <div class="modal-body-item-list__card">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb" src="{{ lining.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ lining.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- <div class=" modal-footer"> -->
            <!-- <a href="#" class="btn">Nice!</a> -->
            <!-- </div> -->
        </div>
    </div>
    <!-- /Two Piece Suit Lining -->

    <!-- Two Piece Suit Buttons -->
    <div class="modal" id="two-piece-suit-Buttons" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <span class="modal-header--title">Buttons</span>
                <span class="modal-header--extra-text"></span>
                <a href="#" class="btn-close" aria-hidden="true">×</a>
            </div>
            <div class="modal-body">
                <div class="modal-body-item-list" id="two-piece-suit-buttons-menu">
                    {% for button in buttons %}
                    {% if button == buttons|index:0 %}
                    <div class="modal-body-item-list__card modal-body-item-list__card-active">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb" src="{{ button.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ button.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% else %}
                    <div class="modal-body-item-list__card">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb" src="{{ button.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ button.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- <div class=" modal-footer"> -->
            <!-- <a href="#" class="btn">Nice!</a> -->
            <!-- </div> -->
        </div>
    </div>
    <!-- /Two Piece Suit Buttons -->

    <!-- Two Piece Suit Button Hole Thread -->
    <div class="modal" id="two-piece-suit-Button-hole-thread" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <span class="modal-header--title">Button hole thread</span>
                <span class="modal-header--extra-text"></span>
                <a href="#" class="btn-close" aria-hidden="true">×</a>
            </div>
            <div class="modal-body">
                <div class="modal-body-item-list" id="two-piece-suit-button-hole-thread-menu">
                    {% for button_hole_thread in button_hole_threads %}
                    {% if button_hole_thread == button_hole_threads|index:0 %}
                    <div class="modal-body-item-list__card modal-body-item-list__card-active">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb" src="{{ button_hole_thread.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ button_hole_thread.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% else %}
                    <div class="modal-body-item-list__card">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb" src="{{ button_hole_thread.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ button_hole_thread.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- <div class=" modal-footer"> -->
            <!-- <a href="#" class="btn">Nice!</a> -->
            <!-- </div> -->
        </div>
    </div>
    <!-- /Two Piece Suit Button Hole Thread -->

    <!-- Two Piece Suit Buttoning -->
    <div class="modal" id="two-piece-suit-Buttoning" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <span class="modal-header--title">Buttoning</span>
                <span class="modal-header--extra-text"></span>
                <a href="#" class="btn-close" aria-hidden="true">×</a>
            </div>
            <div class="modal-body">
                <div class="modal-body-item-list" id="two-piece-suit-buttoning-menu">
                    {% for buttoning in buttonings %}
                    {% if buttoning == buttonings|index:0 %}
                    <div class="modal-body-item-list__card modal-body-item-list__card-active">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb" src="{{ buttoning.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ buttoning.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% else %}
                    <div class="modal-body-item-list__card">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb" src="{{ buttoning.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ buttoning.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- <div class=" modal-footer"> -->
            <!-- <a href="#" class="btn">Nice!</a> -->
            <!-- </div> -->
        </div>
    </div>
    <!-- /Two Piece Suit Buttoning -->

    <!-- Two Piece Suit Lapel -->
    <div class="modal" id="two-piece-suit-Lapel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <span class="modal-header--title">Lapel</span>
                <span class="modal-header--extra-text"></span>
                <a href="#" class="btn-close" aria-hidden="true">×</a>
            </div>
            <div class="modal-body">
                <div class="modal-body-item-list" id="two-piece-suit-lapel-menu">
                    {% for lapel in lapels %}
                    {% if lapel == lapels|index:0 %}
                    <div class="modal-body-item-list__card modal-body-item-list__card-active">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb" src="{{ lapel.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ lapel.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% else %}
                    <div class="modal-body-item-list__card">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb" src="{{ lapel.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ lapel.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- <div class=" modal-footer"> -->
            <!-- <a href="#" class="btn">Nice!</a> -->
            <!-- </div> -->
        </div>
    </div>
    <!-- /Two Piece Suit Lapel -->

    <!-- Two Piece Suit Lapel Stitch -->
    <div class="modal" id="two-piece-suit-Lapel-stitch" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <span class="modal-header--title">Lapel Stitch</span>
                <span class="modal-header--extra-text"></span>
                <a href="#" class="btn-close" aria-hidden="true">×</a>
            </div>
            <div class="modal-body">
                <div class="modal-body-item-list" id="two-piece-suit-lapel-stitch-menu">
                    {% for lapel_stitch in lapel_stitches %}
                    {% if lapel_stitch == lapel_stitches|index:0 %}
                    <div class="modal-body-item-list__card modal-body-item-list__card-active">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb" src="{{ lapel_stitch.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ lapel_stitch.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% else %}
                    <div class="modal-body-item-list__card">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb" src="{{ lapel_stitch.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ lapel_stitch.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- <div class=" modal-footer"> -->
            <!-- <a href="#" class="btn">Nice!</a> -->
            <!-- </div> -->
        </div>
    </div>
    <!-- /Two Piece Suit Lapel Stitch -->

    <!-- Two Piece Suit Pocket Flap -->
    <div class="modal" id="two-piece-suit-Pocket-flap" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <span class="modal-header--title">Pocket Flap</span>
                <span class="modal-header--extra-text"></span>
                <a href="#" class="btn-close" aria-hidden="true">×</a>
            </div>
            <div class="modal-body">
                <div class="modal-body-item-list" id="two-piece-suit-pocket-flap-menu">
                    {% for pocket_flap in pocket_flaps %}
                    {% if pocket_flap == pocket_flaps|index:0 %}
                    <div class="modal-body-item-list__card modal-body-item-list__card-active">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb" src="{{ pocket_flap.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ pocket_flap.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% else %}
                    <div class="modal-body-item-list__card">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb" src="{{ pocket_flap.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ pocket_flap.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- <div class=" modal-footer"> -->
            <!-- <a href="#" class="btn">Nice!</a> -->
            <!-- </div> -->
        </div>
    </div>
    <!-- /Two Piece Suit Pocket Flap -->

    <!-- Two Piece Suit Ticket Pocket -->
    <div class="modal" id="two-piece-suit-Ticket-pocket" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <span class="modal-header--title">Ticket Pocket</span>
                <span class="modal-header--extra-text"></span>
                <a href="#" class="btn-close" aria-hidden="true">×</a>
            </div>
            <div class="modal-body">
                <div class="modal-body-item-list" id="two-piece-suit-ticket-pocket-menu">
                    {% for ticket_pocket in ticket_pockets %}
                    {% if ticket_pocket == ticket_pockets|index:0 %}
                    <div class="modal-body-item-list__card modal-body-item-list__card-active">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb" src="{{ ticket_pocket.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ ticket_pocket.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% else %}
                    <div class="modal-body-item-list__card">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb" src="{{ ticket_pocket.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ ticket_pocket.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- <div class=" modal-footer"> -->
            <!-- <a href="#" class="btn">Nice!</a> -->
            <!-- </div> -->
        </div>
    </div>
    <!-- /Two Piece Suit Ticket Pocket -->

    <!-- Two Piece Suit Vent -->
    <div class="modal" id="two-piece-suit-Vent" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <span class="modal-header--title">Vent</span>
                <span class="modal-header--extra-text"></span>
                <a href="#" class="btn-close" aria-hidden="true">×</a>
            </div>
            <div class="modal-body">
                <div class="modal-body-item-list" id="two-piece-suit-vent-menu">
                    {% for vent in vents %}
                    {% if vent == vents|index:0 %}
                    <div class="modal-body-item-list__card modal-body-item-list__card-active">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb" src="{{ vent.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ vent.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% else %}
                    <div class="modal-body-item-list__card">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb" src="{{ vent.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ vent.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- <div class=" modal-footer"> -->
            <!-- <a href="#" class="btn">Nice!</a> -->
            <!-- </div> -->
        </div>
    </div>
    <!-- /Two Piece Suit Vent -->

    <!-- Two Piece Suit Stitching Thread -->
    <div class="modal" id="two-piece-suit-Stitching-thread" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <span class="modal-header--title">Stitching Thread</span>
                <span class="modal-header--extra-text"></span>
                <a href="#" class="btn-close" aria-hidden="true">×</a>
            </div>
            <div class="modal-body">
                <div class="modal-body-item-list" id="two-piece-suit-stitching-thread-menu">
                    {% for stitching_thread in stitching_threads %}
                    {% if stitching_thread == stitching_threads|index:0 %}
                    <div class="modal-body-item-list__card modal-body-item-list__card-active">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb" src="{{ stitching_thread.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ stitching_thread.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% else %}
                    <div class="modal-body-item-list__card">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb" src="{{ stitching_thread.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ stitching_thread.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- <div class=" modal-footer"> -->
            <!-- <a href="#" class="btn">Nice!</a> -->
            <!-- </div> -->
        </div>
    </div>
    <!-- /Two Piece Suit Stitching Thread -->

    <!-- Two Piece Suit Sleeve Buttons Contrast -->
    <div class="modal" id="two-piece-suit-Sleeve-buttons-contrast" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <span class="modal-header--title">Sleeve Buttons Contrast</span>
                <span class="modal-header--extra-text"></span>
                <a href="#" class="btn-close" aria-hidden="true">×</a>
            </div>
            <div class="modal-body">
                <div class="modal-body-item-list" id="two-piece-suit-sleeve-buttons-contrast-menu">
                    {% for sleeve_buttons_contrast in sleeve_buttons_contrasts %}
                    {% if sleeve_buttons_contrast == sleeve_buttons_contrasts|index:0 %}
                    <div class="modal-body-item-list__card modal-body-item-list__card-active">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb" src="{{ sleeve_buttons_contrast.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ sleeve_buttons_contrast.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% else %}
                    <div class="modal-body-item-list__card">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb" src="{{ sleeve_buttons_contrast.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ sleeve_buttons_contrast.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- <div class=" modal-footer"> -->
            <!-- <a href="#" class="btn">Nice!</a> -->
            <!-- </div> -->
        </div>
    </div>
    <!-- /Two Piece Suit Sleeve Buttons Contrast -->

    <!-- Two Piece Suit Sleeve Buttons Thread -->
    <div class="modal" id="two-piece-suit-Sleeve-buttons-thread" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <span class="modal-header--title">Sleeve Buttons Thread</span>
                <span class="modal-header--extra-text"></span>
                <a href="#" class="btn-close" aria-hidden="true">×</a>
            </div>
            <div class="modal-body">
                <div class="modal-body-item-list" id="two-piece-suit-sleeve-buttons-thread-menu">
                    {% for sleeve_buttons_thread in sleeve_buttons_threads %}
                    {% if sleeve_buttons_thread == sleeve_buttons_threads|index:0 %}
                    <div class="modal-body-item-list__card modal-body-item-list__card-active">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb" src="{{ sleeve_buttons_thread.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ sleeve_buttons_thread.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% else %}
                    <div class="modal-body-item-list__card">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb" src="{{ sleeve_buttons_thread.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ sleeve_buttons_thread.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- <div class=" modal-footer"> -->
            <!-- <a href="#" class="btn">Nice!</a> -->
            <!-- </div> -->
        </div>
    </div>
    <!-- /Two Piece Suit Sleeve Buttons Thread -->

    <!-- Two Piece Suit Neck Felt Contrast -->
    <div class="modal" id="two-piece-suit-Neck-felt-contrast" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <span class="modal-header--title">Neck Felt Contrast</span>
                <span class="modal-header--extra-text"></span>
                <a href="#" class="btn-close" aria-hidden="true">×</a>
            </div>
            <div class="modal-body">
                <div class="modal-body-item-list" id="two-piece-suit-neck-felt-contrast-menu">
                    {% for neck_felt_contrast in neck_felt_contrasts %}
                    {% if neck_felt_contrast == neck_felt_contrasts|index:0 %}
                    <div class="modal-body-item-list__card modal-body-item-list__card-active">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb" src="{{ neck_felt_contrast.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ neck_felt_contrast.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% else %}
                    <div class="modal-body-item-list__card">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb" src="{{ neck_felt_contrast.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ neck_felt_contrast.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- <div class=" modal-footer"> -->
            <!-- <a href="#" class="btn">Nice!</a> -->
            <!-- </div> -->
        </div>
    </div>
    <!-- /Two Piece Suit Neck Felt Contrast -->

    <!-- Two Piece Suit Trouser Pockets -->
    <div class="modal" id="two-piece-suit-Trouser-pockets" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <span class="modal-header--title">Trouser Pockets</span>
                <span class="modal-header--extra-text"></span>
                <a href="#" class="btn-close" aria-hidden="true">×</a>
            </div>
            <div class="modal-body">
                <div class="modal-body-item-list" id="two-piece-suit-neck-trouser-pockets-menu">
                    {% for trouser_pocket in trouser_pockets %}
                    {% if trouser_pocket == trouser_pockets|index:0 %}
                    <div class="modal-body-item-list__card modal-body-item-list__card-active">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb" src="{{ trouser_pocket.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ trouser_pocket.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% else %}
                    <div class="modal-body-item-list__card">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb" src="{{ trouser_pocket.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ trouser_pocket.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- <div class=" modal-footer"> -->
            <!-- <a href="#" class="btn">Nice!</a> -->
            <!-- </div> -->
        </div>
    </div>
    <!-- /Two Piece Suit Trouser Pockets -->

    <!-- Two Piece Suit Trouser Buttoning -->
    <div class="modal" id="two-piece-suit-Trouser-buttoning" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <span class="modal-header--title">Trouser Buttoning</span>
                <span class="modal-header--extra-text"></span>
                <a href="#" class="btn-close" aria-hidden="true">×</a>
            </div>
            <div class="modal-body">
                <div class="modal-body-item-list" id="two-piece-suit-neck-trouser-buttoning-menu">
                    {% for trouser_buttoning in trouser_buttonings %}
                    {% if trouser_buttoning == trouser_buttonings|index:0 %}
                    <div class="modal-body-item-list__card modal-body-item-list__card-active">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb" src="{{ trouser_buttoning.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ trouser_buttoning.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% else %}
                    <div class="modal-body-item-list__card">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb" src="{{ trouser_buttoning.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ trouser_buttoning.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- <div class=" modal-footer"> -->
            <!-- <a href="#" class="btn">Nice!</a> -->
            <!-- </div> -->
        </div>
    </div>
    <!-- /Two Piece Suit Trouser Buttoning -->

    <!-- Two Piece Suit Trouser Back Pocket Placement -->
    <div class="modal" id="two-piece-suit-Trouser-back-pocket-placement" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <span class="modal-header--title">Trouser Back Pocket Placement</span>
                <span class="modal-header--extra-text"></span>
                <a href="#" class="btn-close" aria-hidden="true">×</a>
            </div>
            <div class="modal-body">
                <div class="modal-body-item-list" id="two-piece-suit-neck-trouser-back-pocket-placement-menu">
                    {% for trouser_back_pocket_placement in trouser_back_pocket_placements %}
                    {% if trouser_back_pocket_placement == trouser_back_pocket_placements|index:0 %}
                    <div class="modal-body-item-list__card modal-body-item-list__card-active">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb"
                            src="{{ trouser_back_pocket_placement.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ trouser_back_pocket_placement.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% else %}
                    <div class="modal-body-item-list__card">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb"
                            src="{{ trouser_back_pocket_placement.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ trouser_back_pocket_placement.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- <div class=" modal-footer"> -->
            <!-- <a href="#" class="btn">Nice!</a> -->
            <!-- </div> -->
        </div>
    </div>
    <!-- /Two Piece Suit Trouser Back Pocket Placement -->

    <!-- Two Piece Suit Trouser Back Pocket Design -->
    <div class="modal" id="two-piece-suit-Trouser-back-pocket-design" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <span class="modal-header--title">Trouser Back Pocket Design</span>
                <span class="modal-header--extra-text"></span>
                <a href="#" class="btn-close" aria-hidden="true">×</a>
            </div>
            <div class="modal-body">
                <div class="modal-body-item-list" id="two-piece-suit-neck-trouser-back-pocket-design-menu">
                    {% for trouser_back_pocket_design in trouser_back_pocket_designs %}
                    {% if trouser_back_pocket_design == trouser_back_pocket_designs|index:0 %}
                    <div class="modal-body-item-list__card modal-body-item-list__card-active">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb" src="{{ trouser_back_pocket_design.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ trouser_back_pocket_design.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% else %}
                    <div class="modal-body-item-list__card">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb" src="{{ trouser_back_pocket_design.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ trouser_back_pocket_design.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- <div class=" modal-footer"> -->
            <!-- <a href="#" class="btn">Nice!</a> -->
            <!-- </div> -->
        </div>
    </div>
    <!-- /Two Piece Suit Trouser Back Pocket Design -->

    <!-- Two Piece Suit Trouser Turn Up -->
    <div class="modal" id="two-piece-suit-Trouser-turn-up" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <span class="modal-header--title">Trouser Turn Up</span>
                <span class="modal-header--extra-text"></span>
                <a href="#" class="btn-close" aria-hidden="true">×</a>
            </div>
            <div class="modal-body">
                <div class="modal-body-item-list" id="two-piece-suit-neck-trouser-turn-up-menu">
                    {% for trouser_turn_up in trouser_turn_ups %}
                    {% if trouser_turn_up == trouser_turn_ups|index:0 %}
                    <div class="modal-body-item-list__card modal-body-item-list__card-active">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb" src="{{ trouser_turn_up.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ trouser_turn_up.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% else %}
                    <div class="modal-body-item-list__card">
                        <div class="modal-body-item-list__card--symbol"></div>
                        <img class="modal-body-item-list__card--thumb" src="{{ trouser_turn_up.img.url }}" />
                        <div class="modal-body-item-list__card--mid">{{ trouser_turn_up.title }}</div>
                        <div class="modal-body-item-list__card--price"></div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- <div class=" modal-footer"> -->
            <!-- <a href="#" class="btn">Nice!</a> -->
            <!-- </div> -->
        </div>
    </div>
    <!-- /Two Piece Suit Trouser Turn Up -->

    <script>
        let currentParentLink = "";
        let activeModalId = "";

        $(document).ready(function () {

            $("#menu li").click(function () {
                $('#menu li').removeClass('active');
                $(this).addClass('active');
                let currentDiv = $(this)
                activeModalId = currentDiv[0].firstElementChild.hash;
            });
            $(activeModalId + " .modal-body-item-list .modal-body-item-list__card").click(async function () {
                $(activeModalId + " .modal-body-item-list .modal-body-item-list__card").removeClass('modal-body-item-list__card-active');
                $(this).addClass('modal-body-item-list__card-active');

                let active_product = $("#two-piece-suit-Products .modal-body .modal-body-item-list__card-active .modal-body-item-list__card--mid")[0].innerText;

                let active_suit_Fabric = $("#two-piece-suit-Fabric .modal-body .modal-body-item-list__card-active .modal-body-item-list__card--mid")[0].innerText;
                let active_suit_Buttons = $("#two-piece-suit-Buttons .modal-body .modal-body-item-list__card-active .modal-body-item-list__card--mid")[0].innerText;
                let active_suit_Button_hole_thread = $("#two-piece-suit-Button-hole-thread .modal-body .modal-body-item-list__card-active .modal-body-item-list__card--mid")[0].innerText;
                let active_suit_Buttoning = $("#two-piece-suit-Buttoning .modal-body .modal-body-item-list__card-active .modal-body-item-list__card--mid")[0].innerText;
                let active_suit_lapel = $("#two-piece-suit-Lapel .modal-body .modal-body-item-list__card-active .modal-body-item-list__card--mid")[0].innerText;
                // let active_suit_packets = $("#two-piece-suit-Pocket .modal-body .modal-body-item-list__card-active .modal-body-item-list__card--mid")[0].innerText;
                // let active_suit_contrasts = $("#two-piece-suit-Contrasts .modal-body .modal-body-item-list__card-active .modal-body-item-list__card--mid")[0].innerText;

                debugger

                let resss = await getDataFromDatabase({
                    suit_Fabric: active_suit_Fabric,
                    suit_Buttons: active_suit_Buttons,
                    suit_Button_hole_thread: active_suit_Button_hole_thread,
                    suit_Buttoning: active_suit_Buttoning,
                    suit_lapel: active_suit_lapel,
                });

                $(".dress-showcase-preview-dress").css('background-image', 'url(https://rnd.tailorstore.com/as1/fHw5MHwjRkZGRkZGfHdlYnA,/eNqt0sEOgjAMBuB38WwsUyL6LNYsBTZYhE7HOPj2ThSM3hwcl6zf_rU9rZziUjmErjbOI7B1LTUI2z1CS4ZlQa1MEDTlzhQIOXUK/QchEHuUOIU236ebK1Wr9L3S3lyc0h7C9V05q6rxiw9UiWtFrHe7MgQzzMtA7kW0aCkXZApnmUL52ikqEFyJr26huoHS8Nc1u5EQU/l_feWx6jDaGEEHHG9zr9zfx06XV89kmKQ3gk2vt0aiJFJNlSWIZbb8Jns6Hy_ADTBGUO.webp)');
            });
        });


        function getDataFromDatabase(val) {
            debugger
            var serializedData = JSON.stringify([val]);
            // var serializedData = JSON.stringify(val);
            $.ajax({
                url: (""),
                contentType: 'application/json',
                type: "GET",
                data: {
                    data: serializedData, 'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                dataType: 'json',
                success: function (resp) {
                    return resp;
                },
                error: function (resp) {
                    console.log("something went wrong");
                    return resp
                }
            });
        }




    // // Get the container element
    // var productsBtnContainer = document.getElementById("sub-menu");

    // // Get all buttons with class="btn" inside the container
    // var productsBtns = productsBtnContainer.getElementsByClassName("modal-body-item-list__card");
    // debugger
    // // Loop through the buttons and add the active class to the current/clicked button
    // for (var i = 0; i < productsBtns.length; i++) {
    //     productsBtns[i].addEventListener("click", function () {
    //         var productsCurrent = document.getElementsByClassName("modal-body-item-list__card modal-body-item-list__card-active");

    //         // If there's no active class
    //         if (productsCurrent.length > 0) {
    //             productsCurrent[0].className = productsCurrent[0].className.replace(" modal-body-item-list__card-active", "");
    //         }

    //         // Add the active class to the current/clicked button
    //         this.className += " modal-body-item-list__card-active";
    //     });
    // }



    // // Get the container element
    // var suitProductsBtnContainer = document.getElementById("suit-product-menu");

    // // Get all buttons with class="btn" inside the container
    // var suitProductsBtns = suitProductsBtnContainer.getElementsByClassName("modal-body-item-list__card");

    // // Loop through the buttons and add the active class to the current/clicked button
    // for (var i = 0; i < suitProductsBtns.length; i++) {
    //     suitProductsBtns[i].addEventListener("click", function () {
    //         var suitProductsCurrent = document.getElementsByClassName("modal-body-item-list__card modal-body-item-list__card-active");

    //         // If there's no active class
    //         if (suitProductsCurrent.length > 0) {
    //             suitProductsCurrent[0].className = suitProductsCurrent[0].className.replace(" modal-body-item-list__card-active", "");
    //         }

    //         // Add the active class to the current/clicked button
    //         this.className += " modal-body-item-list__card-active";
    //     });
    // }

    // // Get the container element
    // var eleBtnContainer = document.getElementById("menu");

    // // Get all buttons with class="btn" inside the container
    // var eleBtns = eleBtnContainer.getElementsByClassName("inactive");

    // // Loop through the buttons and add the active class to the current/clicked button
    // for (var i = 0; i < eleBtns.length; i++) {
    //     eleBtns[i].addEventListener("click", function () {
    //         var eleCurrent = document.getElementsByClassName("active");

    //         // If there's no active class
    //         if (eleCurrent.length > 0) {
    //             eleCurrent[0].className = eleCurrent[0].className.replace(" active", "");
    //         }

    //         // Add the active class to the current/clicked button
    //         this.className += " active";
    //     });
    // }

    // // Get the container element
    // var sJButtoningBtnContainer = document.getElementById("two-piece-suit-fabric-menu");
    // var btnTypeImage = sJButtoningBtnContainer.getElementsByClassName("dress-showcase-preview-dress");

    // // Get all buttons with class="btn" inside the container
    // var sJButtoningBtns = sJButtoningBtnContainer.getElementsByClassName("modal-body-item-list__card");

    // // Loop through the buttons and add the active class to the current/clicked button
    // for (var i = 0; i < sJButtoningBtns.length; i++) {
    //     sJButtoningBtns[i].addEventListener("click", function () {
    //         debugger
    //         var sJButtoningCurrent = document.getElementsByClassName("modal-body-item-list__card modal-body-item-list__card-active");

    //         // If there's no active class
    //         if (sJButtoningCurrent.length > 0) {
    //             for (var x; x < sJButtoningCurrent.length; x++) {
    //                 sJButtoningCurrent[x].className = sJButtoningCurrent[x].className.replace(" modal-body-item-list__card-active", "");
    //             }

    //             //sJButtoningCurrent[0].className = sJButtoningCurrent[0].className.replace(" modal-body-item-list__card-active", "");
    //         }

    //         // Add the active class to the current/clicked button
    //         this.className += " modal-body-item-list__card-active";
    //         btnTypeImage.style.backgroundImage = dat[i]
    //     });
    // }
    </script>{% endblock content %}